version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    image: frontend:latest
    ports:
      - "8080:80"
    networks:
      - app-network
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    image: backend:latest
    ports:
      - "3500:3500"
    environment:
      - MONGO_CONN_STR=mongodb://database:27017/mydb
    networks:
      - app-network
    depends_on:
      - database

  database:
    image: mongo:latest
    container_name: database
    ports:
      - "27017:27017"
    volumes:
      - db-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
