apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: tt
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 3500
    targetPort: 3500