apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  namespace: tt
  labels:
    app: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
      - name: mongo
        image: bitnami/mongodb:latest
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongo-storage
          mountPath: /bitnami/mongodb 
      volumes:
      - name: mongo-storage
        persistentVolumeClaim:
          claimName: mongo-pvc
