apiVersion: v1
kind: Service
metadata:
  name: database-service
  namespace: tt
  labels:
    app: database
spec:
  type: ClusterIP
  selector:
    app: database
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017