apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: tt
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: 663383947661.dkr.ecr.ap-south-1.amazonaws.com/frontend:amd
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: REACT_APP_BACKEND_URL
          value: /api/tasks